click==7.1.2
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Migrate==2.7.0
Flask-request-params==0.3.0
flask-requests==0.0.14
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
gunicorn==20.1.0
virtualenv==20.4.2
Werkzeug==1.0.1
MarkupSafe==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2