{% extends 'index.html' %}
{% block content %}

</head>
<body>
	<div class="container">
		<h2>Listagem</h2>
		<form action="/consulta" method="POST" name="frm_consulta" class="ml-3">
			<div class="form-group">
				<div class="row">
					<input type="text" class="form-control col-md-5" name="consulta"
					placeholder="Digite aqui a sua consulta">
					<select class="form-control col-md-2" name="campo">
						<option value="nome">Nome</option>
						<option value="idade">Idade</option>
						<option value="sexo">Sexo</option>
						<option value="salario">Salário</option>
					</select>
					<button type="submit" class="btn btn-success">Consultar</button>
				</div>
			</div>
		</form>
		<div style="overflow: scroll; height: 310px; width: 100%;" align="center">
			<table class="table">
				<thead>
					<tr>
						<th><a href="/ordenacao/id/{{ordem}}">ID</a></th>
						<th><a href="/ordenacao/nome/{{ordem}}">Nome</a></th>
						<th><a href="/ordenacao/idade/{{ordem}}">Idade</a></th>
						<th><a href="/ordenacao/sexo/{{ordem}}">Sexo</a></th>
						<th><a href="/ordenacao/salario/{{ordem}}">Salário</a></th>
					</tr>
				</thead>
				<tbody>
					{% for pessoa in pessoas %}
						<tr>
							<td nowrap="true">
								<a href="/selecao/{{pessoa.id}}">{{pessoa.id}}</a>
							</td>
							<td nowrap="true">{{pessoa.nome}}</td>
							<td nowrap="true">{{pessoa.idade}}</td>
							<td nowrap="true">{{pessoa.sexo}}</td>
							<td nowrap="true">{{pessoa.salario}}</td>
							<td>
								<a href="/edicao/{{pessoa.id}}"
								class="btn btn-primary" role="button">
									Editar
								</a>
								<a href="/delecao/{{pessoa.id}}"
								class="btn btn-danger" role="button">
									DELETAR
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

{% endblock %}